<div>
  <div class="row">
    <div class="col-md-5 border shadow">
      <img
        src="https://media.weddingz.in/images/b9c4d816c4c859b84e93fbaa375d1858/the-carnival-pearl-grand-alipur-delhi.jpg"
        alt="" class="img-fluid border p-1">
    </div>
    <div class="col-md-4 border p-1">
      <h2>The Carnival Pearl|Grand Alipur</h2>
      <p class="text-muted">The Carnival Pearl Grand, 1000, Narela Road, Alipur, Delhi, 110036</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo alias suscipit neque velit iusto dignissimos
        </p>
      <p class="font-weight-bold">HIGHLIGHTS</p>
        <ul>
          <li>Good Food</li>
          <li>Good Food</li>
          <li>Good Food</li>
          <li>Good Food</li>
        </ul>
    </div>
  </div>
</div>
